@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Borel&family=Kanit&family=Mukta:wght@600&family=Poppins:ital,wght@1,400;1,600&family=Sedgwick+Ave+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Barriecito', cursive;
font-family: 'Borel', cursive;
font-family: 'Kanit', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;


}